/.DS_Store
/.venv
/datasets
/input
/models
.ipynb_checkpoints/
__pycache__/

# MACE execution results
/MACE/results/
*.traj
*.log
CONTCAR
XDATCAR
*.pdf
npt-convergence.json
simulation-data.json

# Environment variables
.env