matplotlib
torch
seaborn
simplejson
scipy
pymatgen
torch_geometric
scikit-learn
numpy
rdkit
litraj
matgl
dgl
ase
mace-torch
pymatgen-analysis-diffusion
pymatgen-analysis-defects
pandas
mp-api
jupyter
ipykernel
python-dotenv